<!--
  Generated template for the ChatRoomPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ friend.fullname }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="!isLoading">

  <div class="message-wrap">

    <div *ngFor="let msg of messages">

      <div class="sender" *ngIf="msg.from == friend.username && msg.to == 'me' ">

        <ion-grid>
          <ion-row>
            <ion-col col-2 text-left>
              <img class="friend-img" [src]="Util.pathAvatar(friend.avatar)" alt="">
            </ion-col>
            <ion-col col-10>
              <p>{{msg.content}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="me" *ngIf="msg.from == 'me' && msg.to == friend.username">
        <ion-grid>
          <ion-row>
            <ion-col col-10>
              <p>{{msg.content}}</p>
            </ion-col>
            <ion-col col-2>
              <img class="friend-img" [src]="Util.pathAvatar(myProfile.avatar)" alt="">
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer no-border>
  <ion-toolbar color="primary">
    <ion-textarea (keyup.enter)="doSend()" [(ngModel)]="input" placeholder="Enter your message" name="message"></ion-textarea>
    <ion-buttons end>
      <button (click)="doSend()" ion-button icon-only >
        <ion-icon name="send" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>
